@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');

body {
  background: #222;
  font-family:'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
#wrapper {
  margin: 0 auto;
  width: 940px;
}
/* START NAV */
nav {
  background-color: #f7f7f7;
  position: fixed;
  overflow: auto;
  top: 0;
  width: 100%;
}
nav img {
    width: 40px!important;
    height: 40px!important;
    padding: 5px!important;
}
nav ul {
  margin: 0 auto;
  padding: 0;
  float: right;
}
nav ul li {
  color: #f7f7f7;
  display: inline-block;
  font-family:'Lato', sans-serif;
  list-style: none;
  padding: 17px;
  font-weight: bold;
}
ul li:hover {
  background-color: #93ebff;
}
ul li a {
  color: #222;
  text-decoration: none;
}
#backgroundimage {
  background: url("../img/cover.jpg");
  width: 100%;
  height: 120vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  }
}
/* END NAV */
/* ABOUT */
#about {
  margin-top: 100px;
  margin-bottom: 300px;
  height: inherit;
}
#resume {
  height: inherit;
  margin-top: 100px;
  margin-bottom: 300px;
}
/* WORK */
#work {
  margin-bottom: 300px;
  height: inherit;
}
/* CONTACT */
#contact {
  margin-bottom: 300px;
  height: inherit;
}
#imgcirc {
  box-shadow: 0 0 90px 0 #18191c;
  border-radius: 50%;
  display: block;
  height: 250px;
  margin: 0 auto;
  margin-top: 50px;
  width: 250px;
}
footer {
  margin-bottom: 200px;
}
/* START TYPO */
h1 {
  color: #f7f7f7;
  font-size: 25px;
  font-weight: lighter;
  font-family: 'Lato', sans-serif ;
  text-align: center;
}
h3 {
  color: #f7f7f7;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
.list h4 {
  color: #f7f7f7;
  font-size: 30px;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  text-align: justify;
}
h5 {
  color: #93ebff;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  margin-bottom: 50px;
  text-align: center;
}
p {
  color: #f7f7f7;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  margin-top: -20px;
  padding: 5px;
}
.list h3{
  color: #93ebff;
  text-align: justify;
}
/* END TYPO */
/* START CV STYLE */
.mis {
  margin-top: -20px;
}
.ulist1 {
  margin-top: -10px;
  margin-bottom: 30px;
}
.ulist2 {
  margin-top: -10px;
  margin-bottom: 30px;
}
.ulist3 {
  margin-top: -10px;
  margin-bottom: 30px;
}
hr {
  width: 15%;
}
.hrcv {
  margin-top: -45px;
  width: 90%;
}
.svline {
  width: 100%;
}
.workimg {
  margin-top: 100px;
  text-align: center;
}
.workimg2 {
  height: 200px;
  margin: 7px;
  width: 220px;
}
/* END CV STYLE *
/* START FORM */
.container {
  margin-top: 100px;
  width: 500px;
  padding: 40px;
  background: #333;
  margin: 50px auto;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 35px rgba(0, 0, 0, 0.22);
}
.container h3 {
  background: #93ebff;
  color: #222;
  padding: 60px;
  margin: -40px -40px 40px -40px;
}
input[type=text] {
  padding: 10px 40px;
}
textarea[type=text] {
  padding: 15px 47px;
}
input[type=submit] {
  background: #93ebff;
  border: none;
  margin: 35px -40px -40px -40px;
  padding: 50px 265px;
}
/* END FORM */
/* START FOOTER */
h4 {
  color: #f7f7f7;
  margin-top: -3px;
  text-align: center;
}
/* END FOOTER */
